.git
.venv
.coverage
.pytest_cache
__pycache__
*.py[cod]
*.egg-info
test_data
data

node_modules
web-studio/node_modules
web-studio/dist
openviking/web_studio/dist

.mypy_cache
.ruff_cache
.pytest_cache
.DS_Store
